.input-card{
  width: 80%;
  margin:20px auto;
  border-radius: 5px;
  padding:20px;
  font-style: italic;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  
}
.text{
  font-size: 1.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  margin-left: 25px;
}

.button{
  width: 15%;
  width: 20%;
  margin-left: 55px;
  margin-top: 6px;
  border-radius: 15px;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}